{% extends "wifi/_base.html" %} {% block content %}




    {% for device in devices %}
        <div class="mb-3 p-5 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 flex justify-between">
            {{device}}
            <a href="remove_device/{{device.ip_address}}" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Remove
            </a>
        </div>
    {% endfor %}

{% endblock content %}
