{% extends "wifi/_base.html" %} {% block content %}



    {% for device in devices %}
    <form action="register_device" method="post" accept-charset="utf-8">
    {% csrf_token %} 
        <div class="mb-3 p-5 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            {{device}}
            {% if device.owner.value == "unknown" %}
                <button type='submit' class="inline-flex items-center mt-3 px-3 py-2 text-sm font-medium text-center text-white bg-yellow-700 rounded-lg hover:bg-alert-800 focus:ring-4 focus:outline-none focus:ring-alert-300 dark:bg-alert-600 dark:hover:bg-alert-700 dark:focus:ring-alert-800">
                    Allow Access
                </button>
            {% else %}
                <button type='submit' class="inline-flex items-center mt-3 px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Allow Access
                </button>
            {% endif %}

        </div>
    </form>
    {% endfor %}

    <div class = "flex justify-center">
        <div class="flex justify-center mt-5">
            <a href="block_all_devices_connected" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-red-700 rounded-lg hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">
                Block all devices and allow only registered devices
            </a>
        </div>
    </div>


{% endblock content %}
